.black {
    background-color:rgb(204, 105, 105);
    padding-left:220px;
}


.father{
    background-color: #cccbc6;
    width: 280px;            
    height: 600px;            
    border-radius: 30px;      
    padding: 20px;
}

.card img {
    width: 100%;
    margin-top: 15px;
}

.bell img { 
    width: 100%;
    margin-top: 20px;
}


.fill p {
margin-left: 40px;
}

.cardNumber label {
color: rgba(106, 106, 109, 0.363);
}


.next {
    background-color: rgb(176, 136, 212);
    width: 120px;
    height: 40px;
    border-radius: 30px;
    margin-left: 160px;
    margin-top: 30px;
}

.text{
    margin-left: 32px ;
    display:-webkit-inline-flex;
}
.text-next {
    display: inline-block;
    padding: 10px;
}