.title {
    font-size: 61px;        /* הגודל שרצית */
    font-weight: 900;       /* הכי מודגש שיש */
    text-align: center;     /* ממורכז מושלם */
    color: hsl(0, 59%, 41%);
    margin-top: 40px;       /* קצת רווח מלמעלה */
    margin-bottom: 20px;    /* רווח בין הכותרת לסיפור */
    width: 100%;            /* תופס את כל הרוחב כדי שהמירכוז יעבוד */
}



.aaa { 
    margin-right: 80px;
    border-radius: 150px
}


.story {
    font-size: 20px;        
    line-height: 1.8;        
    font-weight: 500;        
    max-width: 800px;     
    margin: 0 auto;        
    color: #333333;          
    text-align: right;      
    padding: 0 20px;         
}



.link1 {
    text-align: right;    
    margin-bottom: 10px; 
}


.link1 a {
    color: #b80e0e;      
    text-decoration: underline;
    font-weight: bold;    
    font-size: 30px;     
}

.my-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;           /* רווח יפה בין הסרטונים */
    justify-content: center;
    padding: 10px;
    background-color: white; /* רקע לבן נקי לעמוד */
}

.my-grid video, .my-grid img {
    width: calc(50% - 10px); /* תופס חצי מהרוחב פחות הרווח */
    height: auto;            /* הגובה נקבע לבד לפי הסרטון - מבטל שוליים שחורים! */
    border-radius: 20px;     /* פינות מעוגלות כמו שביקשת */
    object-fit: contain;     /* מבטיח שרואים את כל התמונה */
    /* הסרנו את ה-background: black */
}

